.noshow {
    display: none
}

.show {
    display: inline;
    color: red;
    font-family: "Work Sans";
    margin: 4px 0px 0px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.43;
}

